body {
    padding: 30px;
}
header {
    border: 10px solid orangered;
}
.group {
    display: flex;
}
section {
    border: 10px solid lime;
    width: 75%;
}
article {
    border: 10px solid limegreen;
    margin: 0 0 1rem 0;
}
aside {
    border: 10px solid deeppink;
    width: 25%;
}
header, article, section, .module {
    padding: 1rem;
}